{{define "content"}}
<div class="container col-md-3"></div>
<div class="container col-md-6">
	<div class="well">
		<div class="container-fluid">
			<form method="POST">
				<div class="form-group">
					<label>UserName</label>
					<input type="text" class="form-control" name="UserName" required>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="Password" required>
				</div>

				<div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
						<a href="/" class="btn btn-default">Cancel</a>
					</div>
					<div class="btn-group" role="group">
						<button type="submit" class="btn btn-success">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{end}}