{{define "content"}}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{.User.GetUserName}}</h3>
		</div>
		<div class="panel-body">
			<form>
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="ID">ID</label>
						<input type="text" class="form-control" name="ID" value="{{.User.GetID}}" readonly required>
					</div>

					<div class="form-group col-sm-4">
						<label for="Name">Username</label>
						<input type="text" class="form-control" name="Username" value="{{.User.GetUserName}}" {{.readonly}} required autocomplete="off">
					</div>
					<div class="form-group col-sm-4">
						<label for="Name">Password</label>
						<input type="text" class="form-control" name="Password" value="**********" {{.readonly}}>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-6">
						<label for="Name">First Name</label>
						<input type="text" class="form-control" name="FirstName" value="{{.User.GetFirstName}}" {{.readonly}}>
					</div>

					<div class="form-group col-sm-6">
						<label for="Name">Last Name</label>
						<input type="text" class="form-control" name="LastName" value="{{.User.GetLastName}}" {{.readonly}}>
					</div>

				</div>
<!--
				<div class="row">
					<div class="form-group col-sm-12">
						<label for="Description">Description</label>
						<textarea class="form-control" name="Description" rows="5" style="resize: none;" {{.readonly}}>{{.Firm.GetDescription}}</textarea>
					</div>
				</div>
-->
				<div class="row">
					<div class="form-group col-sm-2 pull-left">
						<a class="btn btn-default btn-primary pull-left" href="/users" role="button">Back</a>
					</div>
					<div class="form-group col-sm-2 pull-right">
						{{if eq .Action "view"}}
						<a class="btn btn-default btn-primary pull-right" href="/user/edit/{{.User.GetID}}" role="button">Edit</a>
						{{else if eq .Action "edit"}}
						<div class="btn-group pull-right" role="group">
							<a href="/user/view/{{.User.GetID}}" class="btn btn-default">Cancel</a>
							<button type="submit" class="btn btn-default btn-success" formaction="/user/save" formmethod="POST">Save</button>
						</div>
						{{else if eq .Action "new"}}
						<div class="btn-group pull-right" role="group">
							<a href="/users" class="btn btn-default">Cancel</a>
							<button type="submit" class="btn btn-default btn-success" formaction="/user/save" formmethod="POST">Create</button>
						</div>
						{{end}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{end}}